/* master style*/
body{
    margin: 0px;
    /*overridding the default margin of 8px*/
}
.container{
    display: grid;
    background-color:white/*rgb(252, 249, 249);#fffdef;*/
    grid-template-columns: 1fr;
    /* column maker... make it take up 1 fractional unit (100%)*/
}

a{
    color: #686868;
    text-decoration: none;
}

@font-face {
    font-family: serifthing;
    src: url(DM_Serif_Text/DMSerifText-Regular.ttf);
  }
@font-face {
    font-family: sourceSans;
    src: url(Source_Sans_Pro/SourceSansPro-Regular.ttf);
  }
  @font-face {
    font-family: lora;
    src: url(Lora/Lora-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: consolas;
    src: url(consolas/SourceCodePro-Light.ttf);
  }

/* nav style*/
html {
    scroll-behavior: smooth;
  }
  
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    border-bottom: 0.5px solid transparent;
    /* border-color: rgb(212, 212, 212); */
    background-color:rgb(252, 249, 249);
    opacity: 0.9;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    transition: all 0.3s linear;
}

.right-side{
    display: flex;
}

.nav-wrapper > .right-side > div{
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: sourceSans;
    margin-right: 1.2rem;
}
.left-side{
    font-size: 1.5em;
    font-family: sourceSans;
   
}
.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    /*transition: border-bottom 0.5s;*/
}
.nav-link-wrapper button{
    /* background-color: #F3F3EA; */
    background-color: transparent;
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
    border: none;
    outline: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: sourceSans;
    margin-right: 0.5rem;
    font-weight: 100;
}

.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
    margin-right: 2rem;
    left: 0px;
}
.view-work{
    text-align: center;
    height: 50px;
    margin-top: 15%;
        /* padding-bottom: 10%; */
/* background-color: red; */
}
.view-work button{
    color: #ffeb7b;
    text-decoration: none;
    transition: color 0.2s;
    font-family: sourceSans;
    font-size:50px ;
    font-weight: lighter;
    text-decoration: none;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}
.view-work button i{
    transition: color 0.3s;
}

.view-work button:hover i{
    color: rgb(255, 221, 30);
}


/*hover states: */
/*
.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}*/
.nav-link-wrapper button:hover{
    color: black;
}
.nav-link-wrapper a:hover{
    color: black;
}

.title-class{
    text-align: center;
    /* margin-top: 200px; */
    padding-top: 10%;
}
.section-title{
    font-size: 28px;
    font-family: lora;
    text-shadow:
    -2px -2px white,
    -2px 2px white,
    2px -2px white,
    2px 2px white;
    background-size: 1px 1em;
    box-shadow:
      inset 0 -0.1em rgb(255, 221, 30),
      inset 0 -1em white;
    display: inline;

}
/*
.section-underline{
    background-color: rgb(255, 221, 30);
    height:3px;
    width:70px;
    margin-left: 49%;
    margin-top:0 ;
    margin-bottom: 4rem;

}
*/
/*about me section*/
.myNameSome{
        font-size: 50px;
        font-family: lora;
        text-shadow:
        -2px -2px white,
        -2px 2px white,
        2px -2px white,
        2px 2px white;
        background-size: 1px 1em;
        box-shadow:
          inset 0 -0.1em rgb(255, 221, 30),
          inset 0 -1em white;
        display: inline;
    
    
}
.me-description-wrapper{
    /* display: inline-flex; */
    padding-top:19%;
    /* padding-bottom: 17%; */
    /* background-color: red; */
}
.me-descc{
    font-size: 25px !important;
    margin-left: 100px;
    text-align: right;
}
.about-me-left{
    /* margin-top: 6rem; */
    width:40%;
    margin: auto;
    padding-right: 100px;
    text-align: right;
}
.about-me-left p{
    font-size: 55px;
    font-family: lora;
    display: inline;
    color: #686868;


}
.about-me-right{
    width:50%;
}
.myName{
    font-size: 50px;
    font-family: lora;
    /* text-align: right; */
    /* padding-right:10%; */
    text-decoration: underline;
    text-decoration-color:  rgb(255, 221, 30);
    color: black !important;
}
.greeting{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px !important;
    text-align: right;
    padding-right:10%;
    padding-left: 50%;
}

.me-pic{
    height: 25rem;
    width: 50%;
    background-size: cover;/*sizes (crops) the images to fit their size*/
    background-position: center;
}



/*projects*/
.design-projects{
    margin: 100px;
    display: inline-flex;
    grid-template-columns: 1fr;
}

.d-project>img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;

}

.proj-wrapper-grid *{
    box-sizing: border-box;
    font-family: sourceSans;
    margin:0;
    padding:0;

}
.proj-wrapper-grid{
    display: grid;
   /* grid-template-columns: minmax(600px, 1fr);*/
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    /* grid-gap: 5rem; */
    gap: 30px;
    width:90%;
    height: auto;
    max-width: 500px;
    margin: 100px auto;
    position: relative;
    /* padding-bottom: 200px; */

}
.proj-container{
    /* box-shadow: 0px 2px 8px 0px  #c4d1d6;
    text-align: center;
    transition: box-shadow 0.3s; */
    position:relative;
    overflow: hidden;
    background-color: white;
    height:20rem;
    border-radius: 10px;
    /* outline: rgb(241, 241, 241);
    outline-style: solid; */
    border: rgb(241, 241, 241) solid 1px;
    box-shadow: 0px 2px 8px 0px  #e0e0e0;

}

@keyframes fadeUp{
    0%{
        bottom: 0;
    }
    100%{
        bottom:0.6rem;
    }
}
.proj-wrapper-grid div:hover{
    box-shadow: 0px 2px 8px 0px  #c4d1d6;
    animation-name: fadeUp;
    animation-duration: 0.3s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}


.proj-wrapper-grid div:hover > .proj-btn{
    /* color: black;
    background-color:  #F1D851; */
}
.proj-pic>img{
    position: absolute;
    /*object-fit: cover;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.proj-type{
    font-size: 0.9rem;
    font-weight: 1000;
    color: rgb(207, 89, 89);
    margin-left: 10px;
    margin-top: 5px;
    letter-spacing: -0.7px;
}
.proj-name{
    font-size: 1rem;
    font-weight:bold;
    text-align: left;
    margin-left: 0.5rem;
    font-family: sourceSans;
}
.proj-desc{
    margin: 0.5rem 0.5rem;
    font-size:0.9rem;
    text-align: left;
    color: #8a8a8a;
}
.proj-btn{
    width:100%;
    padding:0.3rem;
    border:none;
    font-size:0.9rem;
    color:black;
    position: absolute;
    bottom: 0;
    left: 0;
}
.proj-container button{
    color: #686868;
    transition:  color 0.3s, background-color 0.3s;
    background-color: #FEF1AB;
    outline: none;

}

/*timeline*/
.timeline-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.timeline-container{
    font-family: sourceSans;
    min-height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.timeline{
    width:80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.timeline ul{
    list-style: none; /*remove the bullet points*/
}
.timeline ul li{
    /* box-shadow: 0px 2px 8px 0px  #e0e0e0; */

    padding: 20px;
    background-color: #FEF1AB;
    color: black;
    border-radius: 10px;
    margin-bottom: 30px; /*between each element*/
}
.timeline ul li:last-child{
    margin-bottom:0; /*selecting the last timeline element since it doesn't need padding on the bottom*/
}
.timeline-content h2{
    font-size: 0.9rem;
    font-weight: 1000;
    color: rgb(207, 89, 89);
    /* margin-left: 5px;
    margin-top: 0px; */
    letter-spacing: -0.7px;
}
.timeline-content h1{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 8px;
}

.timeline-content p{
    font-size: 16px;
    /* line-height: 30px; */
    font-weight:300;
}

.timeline-content .date{
    font-size: 15px;
    font-weight: 300;
    /* margin-bottom: 10px; */
    position: absolute;
    top: -25px;
    right: 10px;
    color: gray;
}

.timeline ul li:hover{
    box-shadow: 0px 2px 8px 0px  #c4d1d6;
    animation-name: fadeUp;
    animation-duration: 0.3s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

.bottom-footer{
    background-color: rgb(236, 234, 234);
    width: 100%;
    height: 45px;
    margin-top: 100px;
    
}

.contact-container li{
    margin-right: 5px;
    position: relative;

}
.contact-container ul{
    list-style-type: none;
    float: right;
    padding-inline-start: 0px;
    margin-block-start:0px;margin-block-end: 0px;
    top: 50%;
    transform: translateY(-10%);
    height: 40px;
}
.contact-container{
    width:98%;
    /* height: auto; */
    height: 40px;
    /* max-width: 800px; */
    margin: 0 auto;
    position: relative;
    /* background-color: red; */
    /* overflow: hidden; */
}
.contact-container p{
    /* display: inline; */
    /* display: none; */
    /* background-color: green; */
    margin-block-start:0em;
    margin-block-end:0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: sourceSans;
    color: rgb(148, 148, 148);
}

.contact-container li{
    display: inline;
    font-size: 40px;
    /* margin-right: 10px; */
    height: 40px;
}
.contact-icons{
    /* padding: 8px; */
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: rgb(177, 177, 177);
    transition: color 0.3s;
    margin-right: 5px;

}
.contact-icons:hover{
    color: rgb(207, 89, 89);
}
.proj-page-wrapper{
    /* background-color: red; */
    /* width: 100%; */
    padding: 0%;
    margin: 2px 4px 4px 4px;    
}
 
.proj-page-containter{
    padding-top: 200px;
    /* background-color: red; */
 
}
.proj-page-name{
    font-size: 50px;
    font-family: lora;
    margin-bottom: 0;
    padding-top: 80px;
    /* background-color: yellow; */
 
}
 
.short-desc-proj{
    /* background-color: brown; */
 
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #686868;
}
.short-desc-proj a{
    text-decoration: underline;
    color: #65b3b3;
    /* background-color: blue; */
}
 
 
.demo-image-container{
    /* background-color: purple; */
    margin: auto;
    width:100%;
    /* padding: 100px 10px 10px 10px; */
}
.demo-img{
    width: 100%;
    /* background-color: black; */
 
}
.demo-caption{
    /* background-color: turquoise; */
 
    font-size: 18px;
    font-weight:lighter;
    font-family: sourceSans ;
    margin-top: 0%;
    color: #686868;
    text-align: center;
}
.image-container{
    /* background-color: orange; */
    margin: auto;
    width:80%;
    padding: 50px 10px 10px 10px;
}
.proj-content-wrapper{
    /* margin: 100px; */
    /* background-color: yellowgreen; */
}
.subheader-proj{    
    /* background-color: skyblue; */
 
    font-size: 35px;
    font-family: lora;
    margin-top: 80px;
    margin-bottom: 30px;
}
.proj-content-wrapper p{
    font-size: 22px;
    /* line-height: 30px; */
    font-weight:300;
    font-family: sourceSans ;
    margin-top: 0%;
    margin-left: 10px;
    margin-right: 10px;
    /* background-color: gold; */
}

.proj-bottom-container{
    position: relative;
    text-align: center;
}


.view-proj-code-btn{
    position: absolute;

    left: 40%;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #faec9c;
    border: 2px solid #faec9c;/*F1D851*/
    padding: 10px;
    font-family: sourceSans ;
    font-size: 20px;
    color: white;
    transition: color 0.5s;

}
.view-proj-code-btn:hover {
    background-color: #faec9c;

}
.linkk{
    text-decoration: underline;
        color: #65b3b3;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 60px;
    /* justify-content: space-around; */
    align-items: center;
    /* min-height: 8vh; */
    /* background-color: #5D4954; */
    font-family:sourceSans;
    z-index: 1;
    /* padding: 0.8rem; */
    border-bottom: 0.5px solid transparent;
    background-color:rgb(252, 249, 249);
    opacity: 0.9;
    font-weight: lighter;

}
.logo p{
    margin-left:10px ;
    font-size: 1.5em;
    font-family: sourceSans;
   font-weight: lighter;
}
.nav-linkss {
    position: fixed;
    right: 0px;
    height: 100%;
    top: 60px;
    margin-top: 0px;
    /* margin-bottom: 50px; */
    background-color: rgb(252, 249, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 30%; */
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.nav-linkss li {
    list-style: none;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: sourceSans;
    margin-right: 10px;
    font-weight: light;
    /* margin-bottom: 50px; */
}
.nav-linkss button {
    list-style: none;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: sourceSans;
    margin-right: 10px;
    font-weight: light;
    color:#8a8a8a;
    outline: none;
}
.nav-linkss button:hover{
    color: black;
}
.nav-linkss a {
    color: #8a8a8a;
    text-decoration: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #8a8a8a;
    margin: 5px;
    transition: all 0.3s ease;
}
.burger {
    display: block;
    cursor: pointer;            
    margin-left: auto; 
    margin-right: 50px;
}

.nav-active {
    transform: translateX(0%);
}
@media only screen and (min-width: 768px){
    .nav-linkss {
        display: flex !important;
        justify-content: space-around;
        /* width: 40%; */
        flex-direction: row;
        top: 0;
        height: 60px;
        /* margin: auto; */
        margin-right: 10px;
        transform: translateX(0%) ;
        transition: none;
        background-color:rgb(252, 249, 249) ;
        /* margin-bottom: auto; */
    }
    .nav-linkss button{
        transition: color 0.3s;

    }
    .nav-linkss a{
        transition: color 0.3s;

    }
    .nav-linkss button:hover{
        color: black;
    }
    .nav-linkss a:hover{
        color: black;
    }
    
    .burger {
        display: none;
    }
    .proj-wrapper-grid{
        grid-template-columns: repeat(4, 1fr);
        max-width: 1100px;
    }
    .timeline::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%); /*to make it perfectly in the middle*/
        background-color: rgb(175, 170, 170);
    }
    
    .timeline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform : translateX(-30px);
        border-radius: 10px 0 10px 10px;
    }
    .timeline ul li:nth-child(even){
        float: right;
        clear:left;
        transform : translateX(30px);
        border-radius: 0 10px 10px 10px;

    }
    .timeline ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: rgb(175, 170, 170);
        border-radius: 50%; /*makes it a circle*/
        top: 0;
    }
    
    .timeline ul li:nth-child(odd)::after{
        right: -30px; /*to account for the 30 px we moved the elements*/ 
        transform : translate(50%, -50%);
    }
    .timeline ul li:nth-child(even)::after{
        left: -30px; 
        transform : translate(-50%, -50%);
    }
    .timeline ul li:hover:after{ /*the after is the dot*/
        background-color: #F1D851;
    }

    /* .contact-container{
        width:98%;
        height: 40px;
        margin: 0 auto;
        position: relative;
        background-color: red;
    }*/
    .contact-container p{
        display: inline;
        /* background-color: green; */
        margin-block-start:0em;
        margin-block-end:0px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: sourceSans;
        color: rgb(148, 148, 148);
    } 
    .proj-page-wrapper{
        /* background-color: green; */
        /* margin: 100px 250px 250px 250px;     */
        margin: 6% 12% 6% 12% ;
    }
    


    .proj-page-containter{
        padding-top: 750px;
    }
    .proj-page-name{
        font-size: 50px;
        font-family: lora;
        margin-bottom: 0;
        padding-top: 80px;
        /* background-color: yellow; */

    }




    .short-desc-proj{
        /* background-color: brown; */

        margin-top: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: lighter;
        color: #686868;
    }
    .short-desc-proj a{
        text-decoration: underline;
        color: #65b3b3;
        /* background-color: blue; */


    }


    .demo-image-container{
        
        /* background-color: purple; */
        margin: auto;
        width:45%;
        padding: 100px 10px 10px 10px;
    }
    .demo-img{
        width: 100%;
        /* background-color: black; */

    }
    .demo-caption{
        /* background-color: turquoise; */

        font-size: 18px;
        font-weight:lighter;
        font-family: sourceSans ;
        margin-top: 0%;
        color: #686868;
        text-align: center;
    }
    .image-container{
        /* background-color: orange; */
        margin: auto;
        width:80%;
        padding: 50px 10px 10px 10px;
    }
    .proj-content-wrapper{
        margin: 100px;
        /* background-color: yellowgreen; */
    }
    .linkk{
        text-decoration: underline;
            color: #65b3b3;
    }
    .subheader-proj{    
        /* background-color: skyblue; */

        font-size: 35px;
        font-family: lora;
        margin-top: 80px;
        margin-bottom: 30px;
    }
    .proj-content-wrapper p{
        font-size: 22px;
        /* line-height: 30px; */
        font-weight:300;
        font-family: sourceSans ;
        margin-top: 0%;
        margin-left: 50px;
        margin-right: 50px;
        /* background-color: gold; */
    }
    .proj-bottom-container{
        position: relative;
        text-align: center;
    }
    
    
    .view-proj-code-btn{
        position: absolute;
        /* left: 40%; */
        
        margin: auto;
        margin-top: 80px;
        border-radius: 20px;
        background-color: #faec9c;
        border: 2px solid #faec9c;/*F1D851*/
        padding: 10px;
        font-family: sourceSans ;
        font-size: 20px;
        color: white;
        transition: color 0.5s !important;

    }
    .view-proj-code-btn:hover {
        background-color: #faec9c;
    
    }
    .about-me-page-wrapper{
        /* background-color: red; */
        /* padding: 200px 500px 200px 500px; */
        padding: 10% 25% 12% 25%;
    }
}



.tools p{
    margin-top: 10px;
    display: inline;
    margin-right: 3px;
}
.tools-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
  }
.tools-list li{
    display: inline;
    background-color: #FEF1AB;
    margin-right: 10px;
    font-size: 20px;
    /* line-height: 30px; */
    font-weight:300;
    font-family: sourceSans ;
    border-radius: 10px;
    padding: 2px 4px 2px 4px;
    color: #686868;
}
button{
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    /* text-shadow: 0px 0px 0px transparent; */
    text-shadow: 10px black;
}
a{
    color: #686868;
    text-decoration: none;
}

    }
    .timeline ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: rgb(175, 170, 170);
        border-radius: 50%; /*makes it a circle*/
        top: 0;
    }
    
    .timeline ul li:nth-child(odd)::after{
        right: -30px; /*to account for the 30 px we moved the elements*/ 
        transform : translate(50%, -50%);
    }
    .timeline ul li:nth-child(even)::after{
        left: -30px; 
        transform : translate(-50%, -50%);
    }
    .timeline ul li:hover:after{ /*the after is the dot*/
        background-color: #F1D851;
    }





.design-proj-heading{
    font-size: 30px;
    font-family: sourceSans ;
    font-weight: lighter;
    color: #558C8C;
}
.proj-p-list li{
    margin-left: 25px;
    margin-right: 50px;
    font-size: 22px;
    /* line-height: 30px; */
    /* font-weight:300; */
    font-family: sourceSans ;
    /* color: #686868; */
    list-style-type: none;
    margin-top: 0;
}

.proj-p-list p{
    margin-bottom: 0px;
    /* color: #686868; */
}


.code{
  
        background: #f4f4f4;
        border: 1px solid #ddd;
        border-left: 3px solid #558C8C;
        color: #666;
        page-break-inside: avoid;
        font-family:   consolas !important;
        font-size: 15px !important;
        line-height: 1;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
        margin-left: 80px !important;
}


.about-me-page-name{
    font-size: 50px;
    font-family: lora;
    margin-bottom: 0;
    padding-top: 80px;
}

.about-me-page-description {
    margin: 0.5rem 0.5rem;
    font-size:0.9rem;
    text-align: left;
    color: #8a8a8a;
    font-family: sourceSans;
    font-size: 20px;
    font-weight: 100;
    /* display: inline; */
}
.me-page-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
}
.prototype-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
}

.design-options-heading{
    font-size: 25px !important;
    font-family: sourceSans ;
    font-weight: lighter;
    color: #558C8C;
}
.design-option{
    margin-right: 50px;
    margin-left: 50px;
}