/* master style*/
body{
    margin: 0px;
    /*overridding the default margin of 8px*/
}
.container{
    display: grid;
    background-color:#fffdef;
    grid-template-columns: 1fr;
    /* column maker... make it take up 1 fractional unit (100%)*/
}
@font-face {
    font-family: serifthing;
    src: url(DM_Serif_Text/DMSerifText-Regular.ttf);
  }
@font-face {
    font-family: sourceSans;
    src: url(Source_Sans_Pro/SourceSansPro-Regular.ttf);
  }
.section-title{
    font-size: 25px;
    font-family: sourceSans ;
    margin-left: 45%;
    margin-top: 50px;
}
/*about me section*/
.me-description-wrapper{
    display: inline-flex;
    padding: 50px;
    background-color:#fffdef;
    margin-left: 200px;
    margin-right: 200px;

}
.about-me-left{
    margin-top: 100px;
    width:50%;
}
.myName{
    font-size: 50px;
    font-family: serifthing;
}
.greeting{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.small-underline{
    background-color: rgb(255, 221, 30);
    height:3px;
    width:150px;
}
.me-pic{
    height: 500px;
    width: 500px;
    background-size: cover;/*sizes (crops) the images to fit their size*/
    background-position: center;
}



.main-page{
    position: relative;
}
.main-page > img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
}

.short-intro{
    display: block;
    position: absolute; /*needs to be in a parent element with relative position*/
    top:0;
    margin-left: 50%;
    margin-top: 15%;
    justify-content: center; /*l-r*/
    align-items: center;/*top to bottom*/
    height: 100%;
    text-align: center;
    padding-right: 100px;
    font-size: 50px;
    font-family: serifthing;
}
/* nav style*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid transparent;
    border-color: rgb(212, 212, 212);
}

.right-side{
    display: flex;
}

.nav-wrapper > .right-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: sourceSans;
}
.left-side{
    font-size: 1.2em;
    font-family: sourceSans;
}
.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    /*transition: border-bottom 0.5s;*/
}
.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

/*hover states: */
/*
.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}*/
.nav-link-wrapper a:hover{
    color: black;
}



/*projects*/
.design-projects{
    margin: 100px;
    display: inline-flex;
}

.d-project>img{

    max-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;

}